body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

#network-name {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 6%;
  top: -10%;
}

.top-bar {
  position: fixed;
  height: 7%;
  width: 100%;
  display: block;
  z-index: 3;
}

.main-icon {
  display: inline-block;
  height: 70%;
  position: absolute;
  left: 2%;
  margin-top: 0.35%;
}

.main {
  position: relative;
  top: 7%;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 0;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 3;
}

.dropdown-btn {
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 0;
  height: 180%;
  width: 100%;
  top: 100%;
  right: 0;
  text-align: center;
}

.dropdown-content a {
  height: 25%;
  display: block;
  text-decoration: none;
  color: #eee;
  padding-top: 10%;
}

.dropdown-btn:hover .dropdown-content {
  display: block;
}

$espresso-primary: #1C0A00;
$espresso-secondary: #2b1000;

$cappuccino-primary: #562100;
$cappuccino-secondary: #533004;

$latte-primary: #DAB88B;
$latte-secondary: #F4DFBA;

$yerba-primary: #1E5128;
$yerba-secondary: #3E7C17;

.theme-espresso {
  background-color: $espresso-secondary;
  color: #eee;

  .background {
    background-color: $espresso-primary;
  }

  a {
    color: #eee;
  }

  button {
    transition: all 0.5s;
    background-color: $espresso-secondary;
    color: #eee;
  }

  button:hover {
    background-color: $espresso-primary;
  }

  .main {
    background-color: $espresso-primary;
  }

  .side-bar {
    background-color: $espresso-secondary;
  }

  .post {
    background-color: $espresso-secondary;
  }

  .flex-container {
    background-color: $espresso-secondary;
  }
}

.theme-cappuccino {
  background-color: $cappuccino-secondary;
  color: #eee;

  a {
    color: #eee;
  }

  button {
    transition: all 0.5s;
    background-color: $cappuccino-secondary;
    color: #eee;
  }

  button:hover {
    background-color: $cappuccino-primary;
  }

  .main {
    background-color: $cappuccino-primary;
  }

  .side-bar {
    background-color: $cappuccino-secondary;
  }

  .post {
    background-color: $cappuccino-secondary;
  }
}

.theme-latte {
  background-color: $latte-secondary;
  color: #111;

  a {
    color: #111;
  }

  button {
    transition: all 0.5s;
    background-color: $latte-secondary;
    color: #111;
  }

  button:hover {
    background-color: $latte-primary;
  }

  .main {
    background-color: $latte-primary;
  }

  .side-bar {
    background-color: $latte-secondary;
  }

  .post {
    background-color: $latte-secondary;
  }
}

.theme-yerba {
  background-color: $yerba-secondary;
  color: #eee;

  a {
    color: #eee;
  }

  button {
    transition: all 0.5s;
    background-color: $yerba-secondary;
    color: #eee;
  }

  button:hover {
    background-color: $yerba-primary;
  }

  .main {
    background-color: $yerba-primary;
  }

  .side-bar {
    background-color: $yerba-secondary;
  }

  .post {
    background-color: $yerba-secondary;
  }
}

#espresso-theme {
  background-color: #1C0A00;
  transition: all 0.5s;
}

#espresso-theme:hover {
  background-color: #2b1000;
}

#cappuccino-theme {
  background-color: #562100;
  transition: all 0.5s;
}

#cappuccino-theme:hover {
  background-color: #603601;
}

#latte-theme {
  background-color: #DAB88B;
  transition: all 0.5s;
  color: #111;
}

#latte-theme:hover {
  background-color: #F4DFBA;
}

#yerba-theme {
  background-color: #1E5128;
  transition: all 0.5s;
}

#yerba-theme:hover {
  background-color: #3E7C17;
}

#profile-link {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 20%;
}

.inner-btn {
  height: 100%;
  width: 100%;
}

#logout-link {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 10%;
}

.side-bar {
  display: inline-block;
  height: 98%;
  width: 20%;
  position: fixed;
  top: 8%;
}

.right-bar {
  right: 0;
}

.feed {
  display: inline-block;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 20%;
}

.post {
  display: block;
  position: relative;
  width: 100%;
  min-height: 15%;
  display: block;
  margin-top: 5%;
  z-index: 0;
}

.post-header {
  width: 100%;
  display: block;
}

.post-content {
  width: 100%;
  display: block;
}

.post-list {
  position: relative;
  width: 90%;
  height: 100%;
  left: 5%;
  z-index: 0;
}

.background {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}