body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
.btn-input {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

#network-name {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 6%;
  top: -10%;
}

.top-bar {
  position: fixed;
  height: 7%;
  width: 100%;
  display: block;
  z-index: 3;
}

.main-icon {
  display: inline-block;
  height: 70%;
  position: absolute;
  left: 2%;
  margin-top: 0.35%;
}

.main {
  position: relative;
  top: 7%;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 0;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 3;
}

.dropdown-btn {
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 0;
  height: 180%;
  width: 100%;
  top: 100%;
  right: 0;
  text-align: center;
}

.dropdown-content a {
  height: 25%;
  display: block;
  text-decoration: none;
  color: #eee;
  padding-top: 10%;
}

.dropdown-btn:hover .dropdown-content {
  display: block;
}

$espresso-primary: #1C0A00;
$espresso-secondary: #2b1000;
$espresso-input: #341300;

$cappuccino-primary: #562100;
$cappuccino-secondary: #533004;
$cappuccino-input: #603704;

$latte-primary: #DAB88B;
$latte-secondary: #F4DFBA;
$latte-input: #fce8c5;

$yerba-primary: #1E5128;
$yerba-secondary: #3E7C17;
$yerba-input: #4b941e;

$font-dark: #111;
$font-light: #eee;

.theme-espresso {
  background-color: $espresso-secondary;
  color: $font-light;

  a {
    color: $font-light;
  }

  button,
  .btn-input {
    transition: all 0.5s;
    background-color: $espresso-secondary;
    color: $font-light;
  }

  button:hover,
  .btn-input:hover,
  .background,
  .main {
    background-color: $espresso-primary;
  }

  .side-bar,
  .post,
  .flex-container,
  .post-form-div,
  .comment-form-div,
  .reply-form-div,
  .reply,
  #img-input,
  .comment {
    background-color: $espresso-secondary;
  }

  input,
  textarea {
    background-color: $espresso-input;
    color: $font-light;
  }
}

.theme-cappuccino {
  background-color: $cappuccino-secondary;
  color: $font-light;

  a {
    color: $font-light;
  }

  button,
  .btn-input {
    transition: all 0.5s;
    background-color: $cappuccino-secondary;
    color: $font-light;
  }

  button:hover,
  .btn-input:hover,
  .background,
  .main {
    background-color: $cappuccino-primary;
  }

  .side-bar,
  .post,
  .flex-container,
  .post-form-div,
  .comment-form-div,
  .reply-form-div,
  .reply,
  #img-input,
  .comment {
    background-color: $cappuccino-secondary;
  }

  input,
  textarea {
    background-color: $cappuccino-input;
    color: $font-light;
  }
}

.theme-latte {
  background-color: $latte-secondary;
  color: $font-dark;

  a {
    color: $font-dark;
  }

  button,
  .btn-input {
    transition: all 0.5s;
    background-color: $latte-secondary;
    color: $font-dark;
  }

  button:hover,
  .btn-input:hover,
  .background,
  .main {
    background-color: $latte-primary;
  }

  .side-bar,
  .post,
  .flex-container,
  .post-form-div,
  .comment-form-div,
  .reply-form-div,
  .reply,
  #img-input,
  .comment {
    background-color: $latte-secondary;
  }

  input,
  textarea {
    background-color: $latte-input;
    color: $font-dark;
  }
}

.theme-yerba {
  background-color: $yerba-secondary;
  color: $font-light;

  a {
    color: $font-light;
  }

  button,
  .btn-input {
    transition: all 0.5s;
    background-color: $yerba-secondary;
    color: $font-light;
  }

  button:hover,
  .btn-input:hover,
  .background,
  .main {
    background-color: $yerba-primary;
  }

  .side-bar,
  .post,
  .flex-container,
  .post-form-div,
  .comment-form-div,
  .reply-form-div,
  .reply,
  #img-input,
  .comment {
    background-color: $yerba-secondary;
  }

  input,
  textarea {
    background-color: $yerba-input;
    color: $font-light;
  }
}

#espresso-theme {
  background-color: #1C0A00;
  transition: all 0.5s;
}

#espresso-theme:hover {
  background-color: #2b1000;
}

#cappuccino-theme {
  background-color: #562100;
  transition: all 0.5s;
}

#cappuccino-theme:hover {
  background-color: #603601;
}

#latte-theme {
  background-color: #DAB88B;
  transition: all 0.5s;
  color: #111;
}

#latte-theme:hover {
  background-color: #F4DFBA;
}

#yerba-theme {
  background-color: #1E5128;
  transition: all 0.5s;
}

#yerba-theme:hover {
  background-color: #3E7C17;
}

#profile-link {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 20%;
}

.inner-btn {
  height: 100%;
  width: 100%;
}

#logout-link {
  position: absolute;
  height: 100%;
  width: 10%;
  right: 10%;
}

.side-bar {
  display: inline-block;
  height: 98%;
  width: 20%;
  position: fixed;
  top: 8%;
}

.right-bar {
  right: 0;
}

.feed {
  display: inline-block;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 20%;
}

.post {
  display: block;
  position: relative;
  width: 100%;
  min-height: 15%;
  display: block;
  margin-top: 5%;
  z-index: 0;
}

.post-header {
  width: 100%;
  display: block;
}

.post-content {
  width: 100%;
  display: block;
  padding-bottom: 10px;

  p {
    margin: 2%;
  }
}

.post-author {
  display: inline;
  position: relative;
  left: 2%;
  top: 2%;
}

.post-date {
  display: inline;
  position: absolute;
  right: 5%;
  font-size: small;
}

.post-title {
  position: relative;
  left: 2%;
}

.post-bottom-bar,
.comment-bottom-bar,
.reply-bottom-bar {
  display: block;
  height: 3rem;

  h3 {
    display: inline;
    position: relative;
    right: 8%;
  }

  h4 {
    display: inline;
    position: relative;
    left: 5%;
  }
}

.like-button {
  height: 100%;
  display: inline;
  width: 25%;
}

.comment-button {
  height: 100%;
  display: inline;
  width: 25%;
}

.post-icon {
  display: inline;
  position: relative;
  bottom: 3%;
}

.post-list {
  position: relative;
  width: 90%;
  height: 100%;
  left: 5%;
  z-index: 0;
}

.background {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.post-form-div,
.comment-form-div,
.reply-form-div {
  position: relative;
  top: 2.5vh;
  min-height: 10rem;

  form {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 0;

    #title-input {
      height: 1.5rem;
    }

    input,
    textarea {
      display: block;
      position: relative;
      top: 5%;
      margin: 1rem;
    }

    #title-input,
    textarea {
      width: 90%;
    }

    textarea {
      min-height: 5rem;
    }

    .btn-input {
      height: 2rem;
      width: 10%;
      font-weight: bold;
    }
  }
}

.post-wrapper {
  width: 90%;
  height: 100%;
  left: 5%;
  position: relative;
}

.comment-section {
  position: relative;
  width: 100%;
  top: 1rem;

  .comment {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    top: 1.5rem;


    div {
      position: relative;
      width: 96%;
      display: block;
    }

    .comment-header,
    .comment-content {
      left: 2%;
    }

    .comment-header {
      height: 1.5rem;

      h4,
      p {
        display: inline;
      }

      p {
        position: absolute;
        font-size: small;
        right: 5%;
      }

      .comment-author {
        position: relative;
      }
    }

    .comment-text {
      min-height: 1rem;
    }
  }
}

.reply-list {
  position: relative;
  width: 95%;
  left: 5%;
  top: 1rem;
  display: none;

  .reply {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    top: 1.5rem;
  }

  .reply-header,
  .reply-content {
    position: relative;
    width: 96%;
    left: 2%;
  }

  .reply-header {
    height: 1.5rem;

    h4,
    p {
      display: inline;
    }

    p {
      position: absolute;
      font-size: small;
      right: 5%;
    }

    .reply-author {
      position: relative;
    }
  }

  .reply-text {
    min-height: 1rem;
  }
}

.post-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}