body {
    background-color: #DAB88B;
    color: #111;
}

.form-div {
    background-color: #F4DFBA;
    width: 20vw;
    height: 30vh;
    position: absolute;
    top: 25vh;
    left: 40vw;
    padding: 1%;
    border-radius: 10px;
}

.form-div-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.form-field {
    display: block;
    margin-top: 3%;
}

input {
    display: inline;
    font-size: larger;
    height: 1.2em;
    width: 90%;
    margin-left: 7%;
    border-radius: 0px 5px 5px 0px;
    border: #DAB88B 2px solid;
    background-color: #F4DFBA;
    padding-left: 10px;
}

.submit-button {
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 20%;
    background-color: #F4DFBA;
    border-radius: 15px;
    border: #DAB88B 3px solid;
    font-size: larger;
    font-weight: bold;
    transition: all 0.5s;
}

.submit-button:hover {
    background-color: #DAB88B;
    border: #DAB88B 3px solid;
    transition: all 0.5s;
}

.descriptor {
    color: #DAB88B;
    display: inline;
    font-size: larger;
    position: absolute;
    height: 1.3em;
    width: 1.3em;
    background-color: #F4DFBA;
    border-radius: 5px 0px 0px 5px;
    border: #DAB88B 2px solid;
}

.icon {
    margin-left: 3px;
    margin-top: 3px;
}

form {
    display: block;
}

#link-div {
    display: block;
    text-align: center;
}

a {
    position: absolute;
    top: 85%;
    left: 45%;
}

.login-form-div {
    height: 19vh;
}